<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/}" th:object="${cipherForm}" method="post">
        <div>
            <ul>
                <li th:each="cipher: ${cipherForm.ciphers}">
                    <input type="radio" th:field="*{cipherName}" th:value="${cipher.name}" />
                    <label th:for="${cipher.name}" th:text="${cipher.name}"></label>
                </li>
            </ul>
        </div>
        <div>
            <textarea th:field="*{text}" value="${cipherForm.text}"/>
        </div>
        <div>
            <input type="submit"  name="action" value="encrypt" />
            <input type="submit"  name="action" value="decrypt" />
        </div>
        <div>
            <p th:text="${cipherForm.errorMessage}" th:style="'color: red;'"></p>
        </div>
    </form>
</body>
</html>